<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>mcpbundler.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mcpbundler</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>27</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://mcp-bundler.maketry.xyz/downloads/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>zszNqNwVhsHKXeT0D7gENK/jsejdxsJtFSWSgbvRuH0=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MCP Bundler Server Token</string>
			<key>UTTypeIdentifier</key>
			<string>xyz.maketry.mcpbundler.server-token</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<string>application/vnd.mcpbundler.server-token</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MCP Bundler Skill Identifier</string>
			<key>UTTypeIdentifier</key>
			<string>xyz.maketry.mcpbundler.skill-id</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<string>application/vnd.mcpbundler.skill-id</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
